@{
    ViewData["Title"] = "Главная страница";
}

<link rel="stylesheet" href="css/MainPage/main-page.css">

<div class="page-background">
    <div class="container-page">
        <div class="main-info">
            <div class="info-text">
                Получите<br> 
                водительские<br>
                права быстрее!
            </div>
            <div class="info-description">
                Просто заполните анкету и ожидайте результата
            </div>
            <div class="fill-form">
                <a asp-controller="FillForm" asp-action="FillForm" class="fill-form-btn">Заполнить анкету</a>
            </div>
        </div>
    </div>
</div>
