@{
    ViewData["Title"] = "Помощь";
}

<link rel="stylesheet" href="~/css/LicenseInfo/licenseinfo.css">

<div class="page-background">
    <div class="container-page">
        <div class="info-container">
            <div class="info-title">Помощь</div>
            <div class="info-content">
                <div class="info-age">
                    <div class="age-title">Со скольки можно получить права?</div>
                    <div class="age-info">
                        Права на машину по категориям, возраст получения и минимальный возраст начала обучения (сколько полных лет):<br>
                        
                        - АМ, А1 — в 16 — в 14; <br>
                        - А, С — в 17 — в 15; <br>
                        - А, В, — в 18 — в 16; <br>
                        - D, F, I — в 21, — в 19. <br>
                    </div>
                </div>
                <div class="info-license">
                    <div class="age-title">В каких случаях нужно менять водительское удостоверение?</div>
                    <div class="age-info">
                        Замена водительского удостоверения необходима, если:
                            
                        - у вас изменились фамилия, имя, отчество;<br>
                        - в записях отыскались неточности;<br>
                        - удостоверение стало непригодно для использования (повреждено, записи в нем нечитаемы);<br>
                        - у удостоверения закончился срок действия;<br>
                    </div>
                </div>
            </div>
            <div class="info-container2">
                <div class="info-price">
                    <div class="age-title">Какова стоимость получения прав в Республике Беларусь?</div>
                    <div class="age-info">
                        Конкретную сумму назвать проблематично, она зависит
                        от расценок на занятия в конкретных автошколах, стоимости
                        дополнительных уроков вождения, роста/падения цен на бензин,
                        количество попыток сдачи и других факторов.
                    </div>
                </div>
                 <div class="info-where">
                    <div class="age-title">Где получить водительские права?</div>
                    <div class="age-info">
                        Многие водители не знают, как получить справку
                        для водительских прав. Необходимо предварительное
                        прохождение медицинской комиссии. Приходите в поликлинику
                        спецдмедосмотров №24 или поликлинику по месту вашей прописки.
                        Сроки прохождения предсказать сложно — они различны в
                        зависимости от количества желающих обзавестись справкой и
                        наличия у вас сложностей со здоровьем, способных помешать выдаче
                        документа до излечения.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

