@model LoginViewModel

@{
    ViewData["Title"] = "Вход в аккаунт";
}

<link rel="stylesheet" href="~/css/SignIn/signin.css">

<div class="page-background">
    <div class="container-page">
        <div class="reg-container">
            <div class="title">
                <div class="main-title">Войдите в аккаунт</div>
                <div class="second-title">
                    Еще нет аккаунта? Вы можете&#160;
                    <a class="signup-a" asp-controller="Registration" asp-action="Index">Создать</a>
                    &#160;его
                </div>
            </div>
            <form asp-controller="Login" asp-action="Index" method="post">
                <div class="fields-container">
                    <div class="name-fields">
                        <div class="error-cont">
                            <input asp-for="FirstName" class="name-tbox" type="text" placeholder="Имя">
                            <span class="error-span" asp-validation-for="FirstName"></span>
                        </div>
                        <div class="error-cont">
                            <input asp-for="LastName" class="name-tbox2" type="text" placeholder="Фамилия">
                            <span class="error-span" asp-validation-for="LastName"></span>
                        </div>
                    </div>
                    <div class="phone-fields">
                        <input asp-for="PhoneNumber" class="phone-tbox" type="text" placeholder="Номер телефона">
                        <span class="error-span" asp-validation-for="PhoneNumber"></span>
                    </div>
                    <div class="password-fields">
                        <input asp-for="Password" class="password-tbox" type="password" placeholder="Пароль">
                        <span class="error-span" asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="button-container">
                    <input class="signup-btn" type="submit" value="Войти">
                </div>
            </form>
        </div>
        
        @* <a asp-controller="" asp-action="" class="admin-link">Администратор</a> *@
        <a asp-controller="AdminLogin" asp-action="Index" class="admin-link" type="submit">Администратор</a>
        
    </div>
</div>